@import "./variables.less";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  color: var(--van-text-color);
  background-color: var(--color-background-2);
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

// commom css
.page-wrapper {
  overflow-x: hidden;
  overflow-y: auto !important;
}

.page-wrapper {
  background: url("../assets/images/red/top_bg_clip.png") 0% 0% / contain
      no-repeat,
    #e62212;
  width: 100%;
}

.gap-margin-left-right {
  margin-left: 25px;
  margin-right: 25px;
}
.gap-padding-left-right {
  padding-left: 25px;
  padding-right: 25px;
}

.card-wrapper-outer {
  border-radius: 32px;
  background-image: linear-gradient(
    0deg,
    rgb(255, 202, 153) 0%,
    rgb(255, 75, 33) 100%
  );
  box-shadow: 0px 20px 30px 0px rgb(135, 34, 8);
  padding: 5px;
  margin-bottom: 30px;
}
.card-wrapper-inner {
  border-radius: 30px;
  background-color: rgb(254, 244, 225);
}
